<h2>{{filename}}</h2>

<button mat-flat-button id="bookmark-button" (click)="toggleBookmark()" *ngIf="bookmarked != undefined">
  <mat-icon *ngIf="!bookmarked">bookmark_add</mat-icon>
  <mat-icon *ngIf="bookmarked">bookmark</mat-icon>
  {{bookmarked ? "Bookmarked" : "Bookmark"}}
</button>

<div id="files-container">
  <div class="file-container" *ngFor="let file of files" (click)="openFile(file)">
    {{file}}
  </div>
</div>

<div id="empty" *ngIf="empty">
  No files available!
</div>

<button mat-raised-button id="upload-button" *ngIf="hasWriteAccess" (click)="fileInput.click()">
  Upload file(s)
</button>
<input type="file" multiple (change)="uploadFiles($event)" hidden #fileInput>
