#files-container {
  width: fit-content;

  .file-container {
    padding: 20px;
    padding-right: 50px;
    background: #f8f8f8;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      background: #eaeaea;
    }

    a {
      color: black;
    }
  }
}

h2 {
  display: inline-block;
}

#bookmark-button {
  margin-left: 20px;
  margin-bottom: 20px;

  .mat-button-wrapper {
    display: inline-flex;
    align-items: center;
  }
}

#write-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
