<h2>{{filename}}</h2>

<button mat-flat-button id="bookmark-button" (click)="toggleBookmark()">
  <mat-icon *ngIf="!bookmarked">bookmark_add</mat-icon>
  <mat-icon *ngIf="bookmarked">bookmark</mat-icon>
  <span>{{bookmarked ? "Bookmarked" : "Bookmark"}}</span>
</button>

<div id="files-container">
  <div class="file-container" *ngFor="let file of files" (click)="clickToDelete ? deleteFile(file) : openFile(file)">
    {{file}}
    <mat-icon *ngIf="clickToDelete">delete</mat-icon>
  </div>
</div>

<div id="empty" *ngIf="empty">
  No files available!
</div>

<div id="write-buttons" *ngIf="hasWriteAccess">
  <button mat-raised-button id="upload-button" (click)="fileInput.click()">
    Upload file(s)
  </button>
  <button mat-raised-button (click)="clickToDelete = !clickToDelete" *ngIf="!empty">
    Delete files {{clickToDelete ? "(stop)" : ""}}
  </button>
  <button mat-raised-button (click)="deleteAll()">
    Delete all
  </button>
</div>

<input type="file" multiple (change)="uploadFiles($event)" hidden #fileInput>
