<h2>{{bucketName}}</h2>

<button mat-flat-button id="bookmark-button" (click)="toggleBookmark()">
  <mat-icon *ngIf="!bookmarked">bookmark_add</mat-icon>
  <mat-icon *ngIf="bookmarked">bookmark</mat-icon>
  <span>{{bookmarked ? "Bookmarked" : "Bookmark"}}</span>
</button>

<div id="files-container">
  <div class="file-container" *ngFor="let file of bucketFiles" (click)="clickToDelete ? deleteFile(file) : openFile(file)">
    {{file}}
    <mat-icon *ngIf="clickToDelete">delete</mat-icon>
  </div>
</div>

<div id="empty" *ngIf="bucketFiles.length == 0">
  No files available!
</div>

<div id="write-buttons" *ngIf="hasBucketWriteAccess">
  <button mat-raised-button id="upload-button" (click)="fileInput.click()">
    Upload file(s)
  </button>
  <button mat-raised-button (click)="clickToDelete = !clickToDelete" *ngIf="bucketFiles.length > 0">
    Delete files {{clickToDelete ? "(stop)" : ""}}
  </button>
  <button mat-raised-button (click)="deleteAll()" *ngIf="userHasWriteAccess">
    Delete all
  </button>
</div>

<input type="file" multiple (change)="uploadFiles($event)" hidden #fileInput>
