<mat-toolbar color="primary">
  <div class="toolbar-section">

    <div id="title" routerLink="">
      <img id="icon" src="/assets/logo-backgr-white-256.png">
      <span id="title-j">J</span><span> Files</span>
    </div>

    <button mat-stroked-button id="bookmarks-button" routerLink="">
      <mat-icon>bookmarks</mat-icon>
      <span>Bookmarks</span>
    </button>

  </div>

  <div id="auth">
    <ng-container *ngIf="(auth.user | async) == null">
      <button mat-raised-button color="accent" (click)="auth.login()">Login</button>
    </ng-container>
    <ng-container *ngIf="auth.user | async as user">
      <div id="username">{{user.displayName}}</div>
      <div id="photo"><img [src]="user.photoURL"></div>
      <button mat-stroked-button (click)="auth.logout()">Logout</button>
    </ng-container>
  </div>
</mat-toolbar>

<div id="container">
  <router-outlet></router-outlet>
</div>
