<h2>Bookmarks</h2>

<div id="bookmarks-container" *ngIf="isLoggedIn">

  <mat-card class="bookmark" *ngIf="hasWriteAccess" (click)="createFile()">
    <mat-icon>add</mat-icon>
    <div class="bookmark-name">New</div>
  </mat-card>

  <mat-card class="bookmark" *ngFor="let bookmark of bookmarks" [routerLink]="bookmark">
    <div class="bookmark-name">{{bookmark}}</div>
  </mat-card>

  <div *ngIf="bookmarks.length == 0 && isLoggedIn">
    No bookmarks.
  </div>

</div>

<div *ngIf="!isLoggedIn">
  Log in to bookmark files and access them later.
  <br><br>
  <button mat-raised-button color="accent" (click)="auth.login()">Login</button>
</div>
